# Database configuration
DATABASE=
DBHOST=
DBPASSWORD=
DBUSER=
DBDIALECT=

NODE_ENV=
PORT=

NODE_DOCKER_PORT=

# ELK - Configration
ELK_LOG_ACTIVE = 
ELK_LOG_SECRET_KEY=
ELK_LOG_INDEX=
ELK_LOG_VERSION=
ELASTIC_SEARCH_SERVICE_URL=